<app-header title="Clases"></app-header>

<ion-row>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="clases">
        <ion-label>Clases</ion-label>
    </ion-segment-button>
    <ion-segment-button value="inscripciones">
        <ion-label>Mis inscripciones</ion-label>
    </ion-segment-button>
  </ion-segment>
  </ion-row>

<ion-content *ngIf="selector == 'clases'">
  <ion-item>
    <ion-label>Seleccionar fecha</ion-label>
    <ion-datetime displayFormat="D MMM YYYY" max="2100" min="2015" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" (ionChange)="changeDate($event)" ></ion-datetime>
  </ion-item>
  <ion-content *ngIf="classes">
    <ion-list *ngFor="let workout of classes.dailyClasses; index as indexOfElement">
      <ion-card routerLink="/detail-daily-class-session/{{classes.id}}/{{indexOfElement}}">
        <ion-card-header>
          <ion-card-subtitle>{{workout.locationName}}</ion-card-subtitle>
          <ion-card-title>{{workout.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{workout.time}} ({{workout.slots}} plazas)
        </ion-card-content>
        </ion-card>
      </ion-list>
      
    </ion-content>

    <ion-content *ngIf="!classes"> 
      <ion-item>
        <ion-label class="ion-text-wrap" align="center">
          No hay clases disponibles
          para {{convertedSelectedDate}}
        </ion-label>
      </ion-item>
    </ion-content>
</ion-content>

<ion-content  *ngIf="selector == 'inscripciones'">
  <ion-content  *ngIf="sessions">

  <ion-list *ngFor="let session of sessions">
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{session.locationName}}</ion-card-subtitle>
      <ion-card-title>{{session.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{session.classConvertedTime}} - {{session.time}}
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
<ion-content  *ngIf="!sessions">
  <ion-item>
    <ion-label class="ion-text-wrap" align="center">
      No tiene reservas de clases vigentes.
    </ion-label>
  </ion-item>

</ion-content>

</ion-content>
