<app-header title="Editar clase"></app-header>
<ion-content>

    <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
        <ion-list lines="full" class="ion-no-margin">
            <ion-list-header lines="full">
              <ion-label>
                Editar clase 
              </ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Nombre:</ion-label>
              <ion-input placeholder="Nombre de la clase" name="name" [(ngModel)]="classMaster.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Descripcion: </ion-label>
                <ion-input placeholder="Descripción de la clase" name="description" [(ngModel)]="classMaster.description"></ion-input>
              </ion-item>
            <div class="ion-padding">
                <ion-button color="success" expand="block" type="submit" class="ion-no-margin" [disabled]="!f.valid"> 
                    <ion-icon name="create">  </ion-icon>
                    Actualizar
                     </ion-button>
             </div>
          </ion-list>
         
    </form>

   

</ion-content>
