<app-header title="Nuevo diet"></app-header>

<ion-content>

    <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
        <ion-list lines="full" class="ion-no-margin">
            <ion-list-header lines="full">
              <ion-label>
                Rellenar nuevo registro
              </ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Fecha</ion-label>
              <ion-datetime displayFormat="D MMM YYYY" max="2100" min="2015"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Description:</ion-label>
              <ion-input required placeholder="Descripción" name="name" [(ngModel)]="description"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Comentarios: </ion-label>
              <ion-input required placeholder="Comentarios" name="comments" [(ngModel)]="comments"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>User</ion-label>
              <ionic-selectable item-content [items]="users" itemValueField="id" itemTextField="nombre" [canSearch]="true" (onChange)="userChange($event)">
              </ionic-selectable>
            </ion-item>


            <div class="ion-padding">
                <ion-button color="success" expand="block" type="submit" class="ion-no-margin" [disabled]="!f.valid"> 
                    <ion-icon name="add-circle">  </ion-icon>
                    Crear
                     </ion-button>
             </div>
             <div class="ion-padding">
                <ion-button color="secondary" expand="block" (click)="vaciar()" class="ion-no-margin"> 
                    <ion-icon name="refresh-circle">  </ion-icon>
                    Reset
                     </ion-button>
             </div>
          </ion-list>
         
    </form>

    <div class="ion-text-center">
        <ion-label position="floating">
            <ion-text color="danger">
                *
            </ion-text> Campos obligatorios
        </ion-label>
    </div>

</ion-content>
